  *{ 
    color: #4A3E01;
    font-family: 'Work Sans', sans-serif;
    font-family: 'tuppence', serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

.logo {
    width: 20%; 
    padding-top: 1rem;
    padding-left: 0.9rem; 
    float: left; 
}

/*Top page*/
header {
    background-color: #94acff;
    width: 102.5%; 
    height: 52.5rem; 
}

.Menu a{
    font: normal 1rem/2rem 'Work Sans', sans-serif; 
    text-decoration: none;
    margin-right: .5rem; 
}

/*Link MENU*/
.Menu a:hover{
    font-style: italic; 
}

.Menu a:active {
    text-decoration: underline;
    font-style: italic; 
    color: #94acff;
}

.Menu {
    margin-left:9.01rem;
    padding-top: 1rem;
}

.intro{
    color:#FFDEEA; 
    padding: 12rem 2rem 0.5rem 2rem; 
    margin-top: 10rem; 
    font: normal 2rem/2.7rem 'tuppence', serif; 
    text-align: left; 
   /* margin: 18px; */
}

span{ 
    font: normal italic "work-sans", sans-serif; 
    text-decoration: underline;
}

.job{
    font-style: italic; 
    text-decoration: none;
    font-weight: bold;
}

/*description*/
div p{
    color:#4A3E01; 
    padding: 0.2rem 2rem; 
    font: normal 1.5rem/1.8rem "work-sans", sans-serif; 
}


.Enjoy{
    color: #FFDEEA;
    padding: 2rem 2rem; 
    font: normal 1.5rem 'tuppence', serif; 
    font-style: italic; 
}

.container3 {
    position: absolute; 
    top: 20rem; 
    right: 1rem; 
    width: 100%;
}

.container3:hover .explore {
    opacity: 1;
  }
  
.swipedown {
    display: block; 
    z-index: 20; 
    width:22%; 
    height: auto; 
    position: absolute; 
    top: 25.1rem; 
    right: -.7rem; 
}

.explore {
    width:23%;
    height: auto;
    z-index: 20;  
    opacity: 0%; 
    transition: .5s ease;
    position: absolute; 
    top: 25rem; 
    right: -0.9rem; 
}

/*BOTTOM PAGE*/
/*Selected works*/
#works{
    font: normal italic 1.7rem/2rem 'tuppence', serif; 
    font-weight: bold;
    text-align: center;
    padding-top: 3rem;
    color: #4A3E01;
    padding-bottom: 1.5rem; 
}

.casestudy /*h1, ol */{
    background-color: #FFDEEA;
    width: 24rem; 
    height: auto; 
}

.container h3 {
    font: normal 1.5rem/2rem "work-sans", sans-serif; 
}


.NorthBowlPhilly2 {
    font: normal bold 1.6rem/1.5rem "Work Sans", sans-serif;
    padding: 1rem 0.5rem 1.2rem 1rem; 
    margin-top: 0rem; 
    z-index: 15;
    width: 18rem; 
    float: left;
}

.container1 h1 {
font: normal bold 1.5rem/1.5rem "Work Sans", sans-serif;
padding: .5rem 4rem .8rem 1.5rem; 
color: #FFDEEA; 
}

.container1 h4 {
    font: normal bold 1rem/1.5rem "Work Sans", sans-serif;
    padding: .5rem 0 1rem 1.5rem; 
    color: #4A3E01; 
}

.container1 {
    background-color:#E35628;
    width: 24rem; 
    height: 30rem; 
}

hr {
  /*  display: block;
 width: 87%; 
    height: .2px; */
    border: 0.07px solid #FFDEEA;
    color:  #FFDEEA;
    margin: .06rem 1.5rem;
}


#arrow{
  width:12%; 
  height: auto; 
  z-index: 20;
  float: right; 
  position: absolute;
  bottom: -34.5rem;
  right: 1rem;
  cursor: pointer; 
}

#screenshot {
    max-width: 100%;
    height: auto; 
    padding: 1rem 1.25rem; 
    transition: transform .2s; 
}

#screenshot:hover {
    transform: scale(1.05); 
}

.year {
    float: right; 
    position: absolute; 
    right: 1rem; 
    bottom: -37.8rem; 
    font-weight:normal; 
}

/*Thank you FOOTER*/
    footer {
        background-color: #FFDEEA;
        color: #ACABFF; 
        width:24rem;
        height:20rem; 
        float: left; 
        z-index: -1;
        padding: 0 0 0 1.2rem;   
        margin-bottom: -1rem; 
    }
    
    footer a {
        text-decoration: none;
        z-index: 5; 
        font: normal 1rem/1.5rem 'Work Sans', sans-serif; 
        color:#E35628; 
    }
    
    
    footer h3 {
        font: normal bold 1.5rem/2rem 'tuppence', 'serif';
        font-style: italic;
        padding-top: 0.5rem; 
        padding-bottom: 0.5rem; 
        color:#4A3E01;
        z-index: 4;  
    }

/*Scroll to top button*/
 #Top{
        scroll-behavior: smooth;
        top:0; 
    }
    
    .Topbutton{
    text-align: center; 
    font: normal 1rem/2rem 'Work Sans', sans-serif; 
    color: #E33700; 
    text-decoration: none;
}

 /*credit*/
.credit {
    font: normal 1rem 'Work Sans', sans serif; 
}