@font-face {
    font-family: 'work-sans';
    src: url('css/work-sans-Bold.woff2') format('woff2');
    src: url('css/work-sans-BoldItalic.woff2') format('woff2');
    src: url('css/work-sans-Italic.woff2') format('woff2');
    src: url('css/work-sans-Medium.woff2') format('woff2');
    src: url('css/work-sans-Regular.woff2') format('woff2');
    

  }



