* {
    background-color: #94acff;
}

.logo{
    width: 20%; 
    padding-top: 1rem;
    padding-left: 0.9rem; 
}

div h1{
    color:#FFDEEA; 
    padding-left: 8.5rem;  
    padding-top: 23rem; 
    font: normal 2rem/2rem 'tuppence', serif; 
    text-align: end; 
    margin: 18px;}

span{ 
    font: normal italic "work-sans", sans-serif; 
    text-decoration: underline;
}

.job{
    font-style: italic; 
    text-decoration: none;
    font-weight: bold;
}

div p{
    color:#4A3E01; 
    padding: 0.8rem 2rem; 
    font: normal 1.5rem/2rem "work-sans", sans-serif; 
}

a{
    padding-left: 20rem; 
}

.Enjoy{
    color: #FFDEEA;
    padding: 2rem 2rem; 
    font: normal 1.5rem 'tuppence', serif; 
    font-style: italic; 
}

main.casestudy {
    background-color: #FFDEEA; 
}

.works{
    padding-top: 3rem;
    padding-left: 2rem; 
}
.container h3 {
    font: normal 1.5rem/2rem "work-sans", sans-serif; 
}